@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&family=Indie+Flower&family=Mina&display=swap');
*{margin: 0;padding: 0;font-family: 'Mina', sans-serif;color: aliceblue;}
body{
    background: black;
    overflow: hidden;
}
.con{
    display: grid;
    grid-template-areas: 
    "a a a"
    ". b ."
    "c c c";
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
min-height: 100vh;
min-width: 100%;
}
.d0{
    position: absolute;
    font-size: 2.5vh;
    z-index: 9;
    color: rgb(255, 255, 255);
    min-height: 100%;
    display: flex;
justify-content: center;
    min-width: 100%;
}
.d0 .Hi{
    position: absolute;
    top: 7%;
    left: 7%;
    width: 90%;
}
.d0 .start{position: absolute;
box-shadow: 0 0 1.5vh white;
border-radius: 1.8vh;
    width: 30%;
    color: black;
    font-size: 5vh;
    font-weight: 700;
    height: 9vh;
    border: 0;
    bottom: 30%;
    transition-duration: 1s;
}
.start:hover{
    width: 40%;
    height: 10vh;
background: rgb(104, 104, 104);
box-shadow: 0 0 1.5vh rgb(104, 104, 104);
    color: rgb(203, 255, 235);
}
.d1{
    grid-area: a;
    display: grid;
    justify-content: center;
}
h1{
    font-size: 5vh;
}
.d2{
    grid-area: b;
    display: grid;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to left, rgb(26, 255, 0), rgb(128, 0, 255));
    border-radius: 3vh;
    box-shadow:-1vh 0px 2vh rgb(128, 0, 255), 2vh 0px 2vh rgb(64, 255, 0),-1vh 0px 2vh rgb(128, 0, 255),0px 1.5vh 1vh rgba(183, 0, 255, 0.433),0px 1.5vh 1vh rgba(4, 255, 0, 0.91),0px -1.5vh 1vh rgba(170, 0, 255, 0.518),0px -1.5vh 1vh rgba(4, 255, 0, 0.91);
}
.d2 h2{font-size: 8vh;}
.d3{
    grid-area: c;
    display: grid;
    justify-content: center;
    align-items: end;
    font-size: 3vh;
}
.letter{
    font-family: 'Chakra Petch', sans-serif;
    position: absolute;
color: rgb(255, 0, 0);
font-size: 10vh;
}
.s40{
    position: absolute;
    top: 22%;
    left: 22%;
    color: rgb(0, 255, 242);
    font-size: 2.8vh;
}
.zan{background: rgba(62, 62, 62, 0.348);
    border: 1vh solid rgb(0, 0, 0);
    font-size: 10vh;
    border-radius: 2vh;
    margin-left: 5%;
    width: 50%;height: 25vh;
    position: absolute;
    transition-duration: 1s;
}
.zan:hover{
    background: rgba(37, 37, 37, 0.715);
    border: 1vh solid rgba(142, 142, 142, 0.532);
    color: rgb(0, 255, 251);
    border-radius: 3vh;
    font-size: 11vh;
}